# Core inference
pymc==5.10.0
arviz==0.18.1
numpy==1.26.4
pandas==2.2.2
scipy==1.13.0

# Visuals
seaborn==0.13.2
matplotlib==3.8.4
akima==0.1.5          # for interpolation

# Utilities
tqdm==4.66.4
requests==2.32.3
